input {
    display: block;
    width: 100%;
    font-size: 100%;
    padding: .7em 1em;
    outline: none;
    border: 1px solid var(--grey-color);
    color: var(--grey-dark-color);
    border-radius: 3px;
  
    &:focus {
  
      box-shadow: 0 0 5px 1px var(--primary-color);
    }
  }
  