<app-navbar></app-navbar>
<div class="container">
	<h4 class="heading heading-secondary">¿Que puedes hacer?</h4>
	<p class="paragraph">
		De seguro ya ha analizado toda la info que le suministramos en nuestra app, de lo importante que es combatir el
		abuso
		hacia los menores, Si quieres apoyar en contra de este, no te vayas, continua leyendo
	</p>
	<p class="paragraph">
		A continuacion ponemos un mapa para que sepa los lugares que esten mas cerca a tu ubicacion <br> Activa tu
		ubicacion
		en configuraciones </p>
	<h4 class="heading heading-secondary">Importante:</h4>
	<ul>
		<li>El punto de color <span class="blue">azul</span>significa tu ubicacion actual, la cual puede cambiar si te
			mueves
			en tiempo real</li>
		<li>El punto de color <span class="green"> verde</span> significa el lugar mas cercano a tu ubicacion, la cual
			puedes
			acercarte a realizar la denuncia del caso</li>
		<li>Los puntos de color <span class="red"> rojo</span> significan igualmente los lugares a los cuales puedes
			acercarte
			a realizar la denuncia del caso</li>
		<li>Pulse una vez sobre los puntos y tendra informacion detallada de los lugares</li>
	</ul>
	<app-mapa></app-mapa>
</div>