.button {
    display: block;
    padding: .7em 1.5em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: transform 150ms;
    box-shadow: 0 3px 4px -1px var(--grey-dark-color);
  
    &:hover {
      transform: translateY(-1.5px);
    }
  
    &:active {
      transform: translateY(1px);
      box-shadow: 0 2px 4px -2px var(--grey-dark-color);
    }
  }
  