<div class="accordion bg-primary" id="accordionExample">
 <div class="card">
  <div class="card-header bg-primary" id="headingOne">
   <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left text-light text-decoration-none" type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
     Maltrato físico
    </button>
   </h2>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
   <div class="card-body p-5 bg-light-gray">
    Este tipo de maltrato abarca una serie de actos perpetrados
    utilizando la fuerza física de modo inapropiado y excesivo.
    Puede ser causada por padres, tutores, maestros, etc
    Aquí se incluyen golpes, arañazos, fracturas, pinchazos, quemaduras, mordeduras, sacudidas violentas, etc.
   </div>
  </div>
 </div>
 <div class="card">
  <div class="card-header bg-primary" id="headingTwo">
   <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left collapsed text-light text-decoration-none" type="button"
            data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
     Maltrato emocional
    </button>
   </h2>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
   <div class="card-body p-5 bg-light-gray">
    Es aquel conjunto de manifestaciones crónicas, persistentes y muy
    destructivas que amenazan el normal desarrollo psicológico del niño. Estas conductas comprenden insultos,
    desprecios, rechazos, indiferencia, confinamientos, amenazas, en fin, toda clase de hostilidad verbal hacia el
    niño.
   </div>
  </div>
 </div>
 <div class="card">
  <div class="card-header  bg-primary" id="headingThree">
   <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left collapsed text-light text-decoration-none" type="button"
            data-toggle="collapse"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
     Abuso sexual
    </button>
   </h2>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
   <div class="card-body p-5 bg-light-gray">
    Es uno de los tipos de maltrato que implica mayores dificultades a
    la hora de estudiar. Consiste en aquellas relaciones sexuales que mantiene un niño o una niña (menor de 18
    años) con un adulto o con un niño de más edad, para las que no está preparado evolutivamente y en las cuales
    se establece una relación de sometimiento, poder y autoridad sobre la víctima.
   </div>
  </div>
 </div>

 <div class="card">
  <div class="card-header  bg-primary" id="headingFour">
   <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left collapsed text-light text-decoration-none" type="button"
            data-toggle="collapse"
            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
     Maltrato infantil
     institucional
    </button>
   </h2>
  </div>
  <div id="collapseFour" class="collapse bg-gray" aria-labelledby="headingFour" data-parent="#accordionExample">
   <div class="card-body p-5 bg-dark-gray">
    Se habla de maltrato institucional, ya sea por acción o por
    omisión, procedente de poderes públicos o privados, por profesionales al amparo de la institución, que vulnere
    los derechos básicos del menor, con o sin contacto directo con el niño.
   </div>
  </div>
 </div>

 <div class="card">
  <div class="card-header  bg-primary" id="headingFive">
   <h2 class="mb-0">
    <button class="btn btn-link btn-block text-left collapsed text-light text-decoration-none" type="button"
            data-toggle="collapse"
            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
     Negligencia infantil o
     abandono
    </button>
   </h2>
  </div>
  <div id="collapseFive" class="collapse bg-gray" aria-labelledby="headingFive" data-parent="#accordionExample">
   <div class="card-body p-5 bg-dark-gray">
    La negligencia es una falta de responsabilidad parental que
    ocasiona una omisión ante aquellas necesidades de los niños para su supervivencia y que no son satisfechas
    temporal o permanentemente por los padres, cuidadores o tutores.
   </div>
  </div>
 </div>






</div>