<div class="container">
 <h4 class="heading heading-secondary">maltrato infantil ¿?</h4>
 <p class="paragraph">
   El maltrato infantil es un problema mundial con graves consecuencias que pueden durar toda la vida. A pesar de las encuestas nacionales recientes en varios países de ingresos bajos y medianos, faltan todavía datos acerca de la situación actual en muchos países.
 </p>
 <div class="carousel">
   <a class="carousel-item" href="#one!"><img src="/img/carousel1.jpg"></a>
   <a class="carousel-item" href="#two!"><img src="/img/carousel2.jpg"></a>
   <a class="carousel-item" href="#three!"><img src="/img/carousel3.jpg"></a>
   <a class="carousel-item" href="#four!"><img src="/img/carousel4.jpg"></a>
   <a class="carousel-item" href="#five!"><img src="/img/carousel5.jpg"></a>
   <a class="carousel-item" href="#six!"><img src="/img/carousel6.jpg"></a>
 </div>
 <ul class="container-tipos collapsible" style="border:none">
   <li class="tipos-item">
     <span class="tipos-item-label blue waves-effect waves-light collapsible-header">¿Que le pasa a los niños cuando sufren maltrato?</span>
     <div class="tipos-item-info collapsible-body">
       El maltrato infantil es una causa de sufrimiento para los niños y las familias, y puede tener consecuencias a largo plazo. El maltrato causa estrés y se asocia a trastornos del desarrollo cerebral temprano. Los casos extremos de estrés pueden alterar el desarrollo de los sistemas nervioso e inmunitario. 
     </div>
   </li>
   <li class="tipos-item">
     <span class="tipos-item-label blue waves-effect waves-light collapsible-header">¿Que sucede cuando van creciendo?</span>
     <div class="tipos-item-info collapsible-body">
       Las personas que han sufrido maltrato en la infancia corren mayor riesgo de sufrir problemas conductuales, físicos y mentales, tales como:
       <ul>
         <li>actos de violencia (como víctimas o perpetradores)</li>
         <li>depresión</li>
         <li>consumo de tabaco</li>
         <li>obesidad</li>
         <li>comportamientos sexuales de alto riesgo</li>
         <li>embarazos no deseados</li>
         <li>consumo indebido de alcohol y drogas</li>
     </ul>
     </div>
   </li>
 </ul>
</div>