<div class="container">
  <div class="text-center">
  <span class="ml-2 text-black-50 display-4 align-middle font-italic text-center mb-4">Maltrato Infantil</span>
</div>
 <div class="card-body mb-5">
  <p class="card-text text-justify">Diferentes tipos de maltrato. 
    El maltrato infantil es un problema mundial con graves consecuencias que pueden durar toda la vida. A pesar de las encuestas nacionales recientes en varios países de ingresos bajos y medianos, faltan todavía datos acerca de la situación actual en muchos países.

  </p>
</div>
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="3000">
      <img class="img-fluid d-block w-100" src="./assets/img/carousel1.jpg" alt="First slide">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img class="img-fluid d-block w-100" src="./assets/img/carousel2.jpeg" alt="second slide">
    </div>
    <div class="carousel-item" data-interval="3000">
      <img class="img-fluid d-block w-100" src="./assets/img/carousel6.jpg" alt="tercer slide">
    </div>
   
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row mb-5 mt-5">
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
    <div class="card" style="max-width: 85%; margin: auto;">
      <img class="" src="./assets/img/img1.jpg" width="100%;">
      <div class="card-body">
        <p class="card-text text-justify">
          <span>¿Que le pasa a los niños cuando sufren maltrato?</span>
          El maltrato infantil es una causa de sufrimiento para los niños y las familias, y puede tener consecuencias a largo plazo. El maltrato causa estrés y se asocia a trastornos del desarrollo cerebral temprano. Los casos extremos de estrés pueden alterar el desarrollo de los sistemas nervioso e inmunitario. 
   
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
    <div class="card" style="max-width: 85%; margin: auto;">
      <img class="" src="./assets/img/img2.jpg" width="100%;">
      <div class="card-body">
        <p class="card-text text-justify ">
          <span>¿Que sucede cuando crecen?</span>
          
            <li>Actos de violencia (como víctimas o perpetradores)</li>
            <li>Depresión</li>
            <li>Consumo de tabaco</li>
            <li>Obesidad</li>
            <li>Comportamientos sexuales de alto riesgo</li>
            <li>Embarazos no deseados</li>
            <li>Consumo indebido de alcohol y drogas</li>
        
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
    <div class="card" style="max-width: 85%; margin: auto;">
      <img class="" src="./assets/img/img3.jpg" width="100%;">
      <div class="card-body">
        <p class="card-text text-justify">
          <span>¿Que le pasa a los niños cuando sufren maltrato?</span>
          El maltrato infantil es una causa de sufrimiento para los niños y las familias, y puede tener consecuencias a largo plazo. El maltrato causa estrés y se asocia a trastornos del desarrollo cerebral temprano. Los casos extremos de estrés pueden alterar el desarrollo de los sistemas nervioso e inmunitario. 
   
        </p>
      </div>
    </div>
  </div>
  </div>
  <div class="text-center">
    <span class="ml-2 text-black-50 display-4 align-middle font-italic text-center mb-4">¿Cómo prevenir?</span>
  </div>
  <div class="card-body mb-5">
    <p class="card-text text-justify">Existen diferentes sitios o centros de atención donde puedes dirigirte a realizar denuncias y solicitar ayuda para prevenir el maltrato infantil, estos centros te ayudarán a mejorar tu situacion o la de algún familiar que presente cualquier tipo de maltrato, todo esto con la finalidad de que los niños puedan disfrutar de su infancia de la mejor manera. Haz clic en la imagen y mira a donde te puedes dirigir.
    </p>
  </div>
     <div class="row mb-5 mt-5 d-flex justify-content-center display-4 align-middle font-italic text-center">
   <a routerLink="/actua" href="/actua"><img class="" src="./assets/img/img3.jpg" width="50%; " ></a> 
    </div>
</div>