<div class="container">
    <div class="text-center">
    <span class="ml-2 text-black-50 display-4 align-middle font-italic text-center mb-4">Actúa a tiempo</span>
  </div>
  <p class="card-text text-justify mb-5 mt-3">En el caso de sospechar que un niño está siendo víctima de violencia infantil nuestra obligación es la de actuar ante tal situación y trasladar esta información a los organismos encargados de la protección a la infancia. Para notificar una situación de maltrato infantil, se debe acudir a los servicios sociales básicos o de atención primaria, servicios especializados competentes en protección de menores o cuerpo y fuerzas de seguridad del estado.
    Pulsa en el boton que esta abajo a tu derecha para ubicar en el mapa los lugares mas cercanos a tu ubicacion para denunciar
    Aqui abajo encontraras la informacion de los lugares de manera mas detallada:
  </p>
  <div class="row mb-5 mt-5">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card" style="max-width: 85%; margin: auto;">
          <div class="card-body bg-primary">
            <p class="card-text text-justify text-light">
                Centro zonal Sur occidente
              <li>  Carrera 38 B # 66 - 77 Piso 2 Barrio Recreo, Barranquilla – Atlántico</li>
              <li>57(5) 385 30 84</li>
              <li> Ext: 502004 - 502026</li> 
           </p>
          </div>
        </div>
      </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-5">
        <div class="card" style="max-width: 85%; margin: auto; height: 100%;">
            <div class="card-body bg-primary">
                <p class="card-text text-justify text-light">
                Caivas – Centro de Atención integral víctimas de abuso sexual
                <li>  Calle 41 # 41 - 69 Piso 2 Barrio Centro, Barranquilla - Atlántico</li>
                <li> 57(5) 385 30 84</li>
                <li> Ext: 500400 - 500401 - 500402</li>     
           </p>
          </div>
        </div>
      </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
      <div class="card" style="max-width: 85%; margin: auto;">
        <div class="card-body bg-primary">
            <p class="card-text text-justify text-light">
            Centro zonal sur oriente
            <li> Calle 45 # 10 C - 17 Calle Murillo Barrio La Victoria, Barranquilla – Atlántico</li>
              <li>57(5) 385 30 84</li>
              <li> Ext: 507002 - 507005</li> 
         </p>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card" style="max-width: 85%; margin: auto;">
            <div class="card-body bg-primary">
                <p class="card-text text-justify text-light">
                Bienestar Familiar, Murillo Toro
            <li>Calle 45,Esquina Carrera 10, Barranquilla, Atlántico (Jornada continua)</li>
              <li>Tel: NO</li>
              <li> Ext: NO</li> 
           </p>
          </div>
        </div>
      </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card" style="max-width: 85%; margin: auto;">
            <div class="card-body bg-primary">
                <p class="card-text text-justify text-light">
                Centro zonal Norte centro histórico
                <li>  Carrera 47 # 75 - 100 Barrio Porvenir, Barranquilla - Atlántico (Jornada continua)</li>
                <li> 57(5) 385 30 84</li>
                <li> Ext: 501001 - 501011</li>   

           </p>
          </div>
        </div>
      </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
      <div class="card" style="max-width: 85%; margin: auto;">
        <div class="card-body bg-primary">
            <p class="card-text text-justify text-light">
            Centro zonal hipódromo
            <li> Calle 26 Carrera 30 esquina Barrio Hipódromo, Soledad – Atlántico</li>
              <li>57(5) 385 30 84</li>
              <li> Ext: 506003</li> 
         </p>
        </div>
      </div>
    </div>
    
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card" style="max-width: 85%; margin: auto;">
            <div class="card-body bg-primary">
                <p class="card-text text-justify text-light">
                Comisaria de familia la paz
              <li> Cl. 100 #13-100</li>
              <li>Tel: NO</li>
              <li> Ext: NO</li> 
           </p>
          </div>
        </div>
      </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card" style="max-width: 85%; margin: auto;">
            <div class="card-body bg-primary">
                <p class="card-text text-justify text-light">
                Comisaria de familia nocturna
                <li>  Cl. 56 ##11-108</li>
                <li> Tel: No</li>
                <li> Ext: NO</li>         
           </p>
          </div>
        </div>
      </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
      <div class="card" style="max-width: 85%; margin: auto;">
        <div class="card-body bg-primary">
            <p class="card-text text-justify text-light">
          
              Comisaria de familia suroccidente
              <li>  Cra. 16 ##60-7</li>
              <li>3652788</li>
              <li> Ext: NO</li> 
         </p>
        </div>
      </div>
    </div>
    </div>
</div>

